{% include 'admin/cabecera.html'%}
    <div class="row">
        <div class="col-md-5">
            <div class="boton-modal btn-wsp">
                <label for="btn-modal" class="fa fa-whatsapp icono">
                    +
                </label>
            </div>
            <input type="checkbox" id="btn-modal">

            <div class="container-modal">
                <div class="card-body content-modal">
                    <form action="/admin/libros/guardar" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="txtNombre" class="form-label">Nombre:</label>
                            <input required type="text" class="form-control" name="txtNombre" id="txtNombre" aria-describedby="helpId" placeholder="Escriba el nombre del libro"/>
                        </div>

                        <div class="mb-3">
                            <p style="margin: 5px;">Categorias:</p>
                            <div class="custom-combobox-container">
                                <div class="custom-combobox" onclick="showOptions(this)">
                                    <input type="text" id="inputCheckbox" name="filtros" readonly>
                                    <img src="../img/arrow.png">
                                </div>
                                <div name="filtros" class="options-container" id="divOptions" onmouseleave="hideOptions(this)">
                                    {% for cat in categorias %}
                                    <label for="{{cat[1]}}"><input type="checkbox" id="{{cat[1]}}" value="{{cat[1]}}"> {{cat[1]}} </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="txtImagen" class="form-label">Imagen:</label>
                            <input accept=".png, .jpg, .jpeg" required type="file" class="form-control" name="txtImagen" id="txtImagen" aria-describedby="helpId" placeholder="Seleccione la imagen"/>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Agregar
                        </button>
                        
                    </form>
                    <footer><label for="btn-modal" class="cerrar-modal">cancelar</label></footer>
                    
                </div>
            </div>
        </div>
        <div class="table__body">
            <table>
                <thead>
                    <tr>
                        <th scope="col">ID<span class="icon-arrow">&UpArrow;</span></th>
                        <th scope="col">Nombre<span class="icon-arrow">&UpArrow;</span></th>
                        <th scope="col">Imagen<span class="icon-arrow">&UpArrow;</span></th>
                        <th scope="col">Acciones<span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    <tr class="">
                        <td>{{libro[0]}}</td>
                        <td>{{libro[1]}}</td>
                        <td>
                            <img width="60" src="https://drive.google.com/thumbnail?id={{libro[2]}}" class="img-fluid rounded-top" alt=""/>
                        </td>
                        <td>
                            <form action="/admin/libros/borrar" method="post">
                                <input value="{{libro[0]}}" type="hidden" name="txtId" id="txtId">
                                    <button class="status delivered" type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        
    </div>
</div>
{% include 'admin/pie.html'%}